///* ========================================================================
//   COMPONENTS-SUBTITLES
//   ======================================================================== */

.components-subtitle {
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    color: $grey;
    @include font-size(12);
    padding-right: 15px;
}

.lightbox-title {
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    @include font-size(16);
    font-weight: 700;
    color:$purple;
    text-transform: uppercase;
    text-align: center;
}