.input-error {
    border: 1px solid $red;
    transition: all .4s ease 0s;
}

input:invalid+span.validity:after {
  content: '✖';
  color: $red;
  padding-left: 5px;
}

input:valid+span.validity:after {
  content: '✓';
  color: $green;
  padding-left: 5px;
}
