// 
/*Some CSS*/

.magnify-coupon {
  width: 350px;
  height: 460px;
  position: relative;
  cursor: none;
  z-index: 999;

  > img {
    width: 350px;
    height: 435px;
  }

}

/*Lets create the magnifying glass*/
.large-coupon {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 100%;

  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small-coupon {
  display: block;
}

.magnify-other-coupon {
  width: 350px;
  height: 460px;
  position: relative;
  cursor: none;
  z-index: 999;

  > img {
    width: 350px;
    height: 435px;
  }

}

/*Lets create the magnifying glass*/
.large-other-coupon {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 100%;

  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small-other-coupon {
  display: block;
}
