///* ========================================================================
//   PAGE TITLE
//   ======================================================================== */

#page-title-container {
    //height: 150px;
    //Somente enquanto o projetos esta dentro do Iframe
    //height: 0px;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    //padding-top: 75px;
    //Somente enquanto o projetos esta dentro do Iframe
    padding-top:0 px;
}