///* ========================================================================
//   ACTION MENU
//   ======================================================================== */

.menu-item {
    font-weight: 700;
    cursor: pointer;
    opacity: 0.5;
    color: #563062;
}

.menu-item:hover {
    transition: all .4s ease 0s;
    opacity: 1;
    color: #563062;
}
