///* ========================================================================
//   BREADCRUMB
//   ======================================================================== */

.wrapper-breadcrumbs { 
    margin-bottom: 20px;
    text-align: center;
}

.breadcrumbs {
    list-style: none;

    > .item {
        display: inline-block;
        color: $light-grey;
        @include font-size(12);

        + :before {
            content: "/";
            padding-right: 8px;
        }
    }
}

@include breakpoint(xl) { 
    .wrapper-breadcrumbs { 
        display: flex; 
        align-items: center;
        text-align: left;
    } 
}