///* ========================================================================
//   DRAAG DROP 
//   ======================================================================== */

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: $white-grey;
    border: 2px dashed $light-grey;
    width: 100%;
    height: 275px;
    text-align: center;
    padding-top: 100px;
    color: $light-grey;
    cursor: pointer;
}
.dragover {
    border: 2px dotted $light-grey;
    color: $grey;
}
.drop-box:hover {
    border: 2px dashed $grey;
    color: $grey;
}

.text-drag{
    font-size: 16px;
    font-family: 'roboto mono';
}