.MuiTypography-body2  {
  font-family:'Arvo', Helvetica, Arial, sans-serif !important;
}

.MuiButton-label {
  font-family:'Arvo', Helvetica, Arial, sans-serif !important;
}

.MuiFormLabel-root {
  font-family:'Arvo', Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  color: $black !important;
  text-transform: uppercase !important;
}

.MuiInputLabel-root {
  font-family: "Arvo", Helvetica, Arial, sans-serif !important;
  margin-top: 2px !important;
  color: #6b6a69 !important;
}

.MuiInputBase-input {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif !important;
  color: #706F6F !important;
  margin-top: 3px !important;
}


.MuiButton-root {
  color: $turquoise !important;
  font-family: 'Arvo' !important;
  border: 1px solid $turquoise !important;
  border-radius: 20px !important;
  padding: 2px 15px !important;


  &:focus {
    outline: 0;
  }
}

.MuiButtonBase-root {
  &:focus {
    outline: 0;
  }
}


.MuiSelect-root {
  width: $container-full !important;
  font-family: $font-family !important;
  font-size: 12px !important;
  line-height: $input-height !important;
  color: #706F6F !important;
  text-transform: none !important;
  height: $input-height !important;
  padding: 0 10px !important;
  background-color: $white-grey !important;
  border-radius: 5px !important;
  border: solid 1px $turquoise !important;


  &.-selected {
    border: solid 1px $turquoise !important;
  }

  &:focus { box-shadow: none; }
}

.MuiInput-underline:before {
    border: 0 !important;
    outline: 0 !important;
}

.MuiInput-underline:after {
  border: 0 !important;
  outline: 0 !important;
}

.MuiTouchRipple-root {
  display: none;
}

.MuiGridListTile-tile {
  overflow: visible !important;
}

.custom-search-date-range {
  .row {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  #from {
    margin-right: 0;
    margin-left: 0;
    width: 105px;
    padding: 0;
  }

  #until {
    margin-right: 0;
    margin-left: 15px;
    width: 105px;
    padding: 0;
  }
}