///* ========================================================================
//   BASE
//   ======================================================================== */

html { height: 100%; }

body {
    font-family: $font-family;
    @include font-size($font-size);
    @include line-height($line-height);
    color: $font-color;
    font-weight: $font-weight;
    //background: $background-color;
    //background-image: url(../../img/background.jpg);
    //background-size: 100% 100%;
    //Somente enquanto está sendo mostrado dentro do IFrame
    background-color:transparent!important;
}

hr{
    border-color: #fff;
    border-style: solid;
}

@media print {
  .no-printme  { display: none;}
  .printme  { display: block;}
}