///* ========================================================================
//   TYPOGRAPHY
//   ======================================================================== */

// Paragraph
p { margin: 0 0 20px 0; }

// Bold and Strong
b, strong, .strong { font-weight: 700; }

// Italics
em, .em { font-style: italic; }

// Definition
dfn { font-style: italic; }

// Small
small, .small {
    @include font-size(12);
    @include line-height(16);
}

// Del
del, .del { text-decoration: line-through; }

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    margin: 0;
}

h1 {
    @include font-size($h1-font-size);
    @include line-height($h1-line-height);
    margin-bottom: .5em;
    color: $h1-color;
    font-weight: $h1-font-weight;
    text-transform: uppercase;
}

h2 {
    @include font-size($h2-font-size);
    @include line-height($h2-line-height);
    margin-bottom: .2em;
    color: $h2-color;
    font-weight: $h2-font-weight;
}

h3 {
    @include font-size($h3-font-size);
    @include line-height($h3-line-height);
    margin-bottom: .2em;
    color: $h3-color;
    font-weight: $h3-font-weight;
}

h4 {
    @include font-size($h4-font-size);
    @include line-height($h4-line-height);
    margin-bottom: .2em;
    color: $h4-color;
    font-weight: $h4-font-weight;
}

h5 {
    @include font-size($h5-font-size);
    @include line-height($h5-line-height);
    margin-bottom: .2em;
    color: $h5-color;
    font-weight: $h5-font-weight;
    text-transform: uppercase;
    text-align: center;
}

h6 {
    @include font-size($h6-font-size);
    @include line-height($h6-line-height);
    margin-bottom: .1em;
    color: $h6-color;
    font-weight: $h6-font-weight;
}

// Links
a {
    color: $link-color;
    text-decoration: underline;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:active, &:hover {
      color: $link-hover-color;
      outline-width: 0;
      text-decoration: none;
    }
}