///* ========================================================================
//   FONT SIZE
//   ======================================================================== */

@mixin font-size ($size) {
  $remValue: $size / 16;
  $pxValue: ($size);
  font-size: $pxValue + px; 
  font-size: $remValue + rem;
}